@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "Futura";
    src: url('../fonts/futura/Futura\ Book.ttf');
    src: url('../fonts/futura/Futura\ Book.ttf') format('ttf');

}

@font-face {
    font-family: "Futura";
    src: url('../fonts/futura/Futura\ Bold.ttf');
    src: url('../fonts/futura/Futura\ Bold.ttf') format('ttf');
    font-weight: bold;

}

@font-face {
    font-family: "Futura";
    src: url('../fonts/futura/Futura\ Heavy.ttf');
    src: url('../fonts/futura/Futura\ Heavy.ttf') format('ttf');
    font-weight: bolder;

}

@font-face {
    font-family: "Futura";
    src: url('../fonts/futura/Futura\ Medium.ttf');
    src: url('../fonts/futura/Futura\ Medium.ttf') format('ttf');
    font-weight: initial;
}

*/ body {


    font-weight: normal;
    font-style: normal;
    margin: auto;
    font-family: 'Mukta', sans-serif;
}

*/ .container {
    margin: auto;


}

/*HEADER*/

.menu {
    background-image: url("../picture/FOND_BLEU.jpg");
    width: 100%;

}




img {
    width: 105%;
    height: auto;
}



h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    font-family: 'Mukta', sans-serif;
    font-weight: 900;
}


.menu {

    width: 250px;
    border: 1px solid #b5c7f7;
    position: fixed;
    top: 0;
    height: 100vh;
    color: white;
    font-family: 'Mukta', sans-serif;
    font-weight: 900;

}

.title {
    font-size: 2em;
    font-weight: bold;

    padding-bottom: 1rem;
    padding: 1.5rem;
}

.nav {

    display: flex;
    flex-direction: column;

}

.nav-links {
    margin-top: 2rem;
    text-transform: uppercase;
    border: 2px sold #f0f;



}

.nav-items {
    font-size: 1.2rem;


    padding: 1em;
    border-bottom: 1.5px solid #b5c7f7;

    /*transition-duration: 300ms;*/


}

.nav-items-link {
    color: #b5c7f7;
    text-decoration: none;


}

footer,
footer a {
    margin-top: 5rem;
    color: white;
    text-align: center;
}

/* MAIN */
main {
    padding: 1rem;
    margin-left: 250px;
    font-family: 'Futura', sans-serif;
}


p {
    padding: 0.5rem;
    font-size: 1.5em;



}