@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pangolin&display=swap');

/*
font-family: 'Architects Daughter', cursive;
font-family: 'Pangolin', cursive;
*/

@font-face {
    font-family: "Futura";
    src: url('../fonts/futura/Futura\ Book.ttf');
    src: url('../fonts/futura/Futura\ Book.ttf') format('ttf');

}

@font-face {
    font-family: "Futura";
    src: url('../fonts/futura/Futura\ Bold.ttf');
    src: url('../fonts/futura/Futura\ Bold.ttf') format('ttf');
    font-weight: bold;

}

@font-face {
    font-family: "Futura";
    src: url('../fonts/futura/Futura\ Heavy.ttf');
    src: url('../fonts/futura/Futura\ Heavy.ttf') format('ttf');
    font-weight: bolder;

}

@font-face {
    font-family: "Futura";
    src: url('../fonts/futura/Futura\ Medium.ttf');
    src: url('../fonts/futura/Futura\ Medium.ttf') format('ttf');
    font-weight: initial;
}

body {

    background-color: #fff;
    font-weight: normal;
    font-style: normal;
    margin: auto;

}

.container {
    margin: auto;


}

/*HEADER*/

.menu {
    background-image: url("../picture/FOND_BLEU.jpg");
    width: 100%;
    background-color: #fff;

}




.header {
    width: 100%;
    height: auto;
}



h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;

    font-family: 'Architects Daughter', cursive;
    font-weight: 900;
    height: 5rem;
}


.menu {

    width: 250px;
    border: 1px solid #b5c7f7;
    position: fixed;
    top: 0;
    height: 100vh;
    color: white;
    font-family: 'Architects Daughter', cursive;
    font-weight: 900;

}

.minilogo {
    width: 50%;
    margin: 3rem auto;
    text-align: center;
    display: block;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
    padding: 1.5rem;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav-links {
    border-top: 1.5px solid #b5c7f7;
    margin-top: 1.5rem;
    text-transform: uppercase;
}

.nav-items {
    font-size: 1.2rem;
    border-bottom: 1.5px solid #b5c7f7;
    text-align: right;
    padding: 1em;


    /*transition-duration: 300ms;*/


}

.nav-items-link,
.formule_link {
    color: #fff;
    text-decoration: none;
}

.bull {
    display: block;
    position: fixed;
    opacity: 0.5;
}

.menu_text {
    position: sticky;
}

.footer_nav,
.footer_nav a {
    margin-top: 5rem;
    color: white;
    text-align: center;
    font-size: 1rem;
    position: relative;

}

/* MAIN */
main {
    padding: 1rem;
    margin-left: 250px;
    font-family: 'Architects Daughter', cursive;
    padding: 0.7rem;
    font-size: 1.5em;
}

.main_content {
    padding: 0.5em;
    background-image: url(../picture/timbales.png);
    height: 100vh;
}


p {

    font-family: 'Architects Daughter', cursive;

}

/* PAGES PEOPLE */
.people {
    display: flex;
    align-items: center;
    border: solid 2px;
    width: 80%;
    padding: 2rem;
    margin: auto;
    /* bien mettre le margin-top APRES le margin auto*/
    margin-top: 2rem;
    font-size: 1.2em;
}

.imgPeople_container {
    width: 20%;
}

.imgPeople {

    width: 90%;
    height: auto;
}

.people--reverse {
    flex-direction: row-reverse;

}

.people_presentation_identity {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 0.4em;
}

.people_presentation {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-left: 2rem;



}


/* Form */

.form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

.form_part {
    display: flex;
    justify-content: center;
}

.form_input_left {
    width: 280px;
}

.form_input_right {
    width: 250px;
}

.legend_form {
    font-size: 2rem;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.8rem;
    font-weight: bold;
}

.form_left label {
    width: 290px;
}

.form_left_div,
.form_right_div {
    height: 1.5em;
    margin: 0.4em;
    display: flex;
}

.form_left,
.form_right {
    margin: 2rem;
    font-weight: bold;
}

.form_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.form_right label {
    width: 200px;

}

input {
    border-radius: 15px;
    border: solid black 1px;
    padding-left: 1em;
}

.form_formule {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.form_formule_choice {
    display: flex;
    flex-direction: column;
    background-image: url(../picture/FOND_BLEU.jpg);
    width: 20%;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    color: #ffebcf;
    font-size: 1.2rem;

}

.form_formule_choice img {
    margin-bottom: 0;
    margin-top: 2px;
}

.formule_type {
    margin-bottom: 2rem;

}