<%- include('partials/header') %>

<main class="main">
    <h1>PAGE 404</h1>
    <p>Jeune padawan, n'essaye pas d'aller là où la route ne peut te mener
    </p>

</main>

<%- include('partials/footer') %>