<%- include('partials/header') %>


    <h1>METTEZ LE TELEPHONE EN FORMAT PAYSAGE !!!</h1>
    <p>Bon les copains, maintenant que j'ai fini ma formation et que j'ai réussi mon titre pro, j'ai d'avantage de
        temps.
    </p>
    <p>Voici un premier jet du site.
    </p>
    <p>Je vais arranger la mise en page pour qu'il soit consultable den format portrait.

    </p>
    <p>Je ne suis pas graphiste donc j'ai fait au mieux et essayé des fonds d'écran et ce genre de choses</p>
    <p>Vous pouvez m'envoyer les contenus (textes et photos en m'indiquant où vous voulez que je les mette</p>
    <p>Pour ce qui est de l'inscription, j'ai besoin de savoir si vous voulez que les informations soient envoyées par
        mail directement à l'asso, ou bien si je les stocke dans une base de données etr c'est tout.

    </p>
    <p>Vous pouvez m'envoyer vos observations/idées à armandine-dev@gmail.com ou me contacter au 06-17-41-77-94</p>

    <p>S'il faut que je vienne sur Toulouse pour en parler, dites le moi sinon on peut aussi bosser en visio.</p>




    <%- include('partials/footer') %>